<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.aloha.board.mapper.FilesMapper">

    <select id="list" resultType="Files">
    SELECT *
    FROM file
    ORDER BY created_at DESC
  </select>

  <!-- 파일 조회 -->
  <select id="select" resultType="Files">
    SELECT *
    FROM file
    WHERE no = #{no}
  </select>
  
  <select id="selectById" resultType="Files">
    SELECT *
    FROM file
    WHERE id = #{id}
  </select>

  <!-- 파일 등록 500 에러 : 달러 아니다,,, 샾이다,,,-->
  <insert id="insert">
    INSERT INTO file ( id, parent_table, parent_no, name, path, size, content_type, sort_order, is_main )
    VALUES (#{id}, #{parentTable}, #{parentNo}, #{name}, #{path}, #{size}, #{contentType}, #{sortOrder}, #{isMain} )
  </insert>

  <!-- 파일 수정 -->
  <update id="update">
    UPDATE file
       <set>
            <if test="parentTable != null">parent_table = #{parentTable},</if>
            <if test="parentNo != null">parent_no = #{parentNo},</if>
            <if test="name != null">name = #{name},</if>
            <if test="path != null">path = #{path},</if>
            <if test="size != null">size = #{size},</if>
            <if test="contentType != null">content_type = #{contentType},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="isMain != null">is_main = #{isMain},</if>
        </set>
    WHERE no = #{no}
  </update>
  
  <update id="updateById">
    UPDATE file
       <set>
            <if test="parentTable != null">parent_table = #{parentTable},</if>
            <if test="parentNo != null">parent_no = #{parentNo},</if>
            <if test="name != null">name = #{name},</if>
            <if test="path != null">path = #{path},</if>
            <if test="size != null">size = #{size},</if>
            <if test="contentType != null">content_type = #{contentType},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="isMain != null">is_main = #{isMain},</if>
        </set>
    WHERE id = #{id}
  </update>

  <!-- 파일 삭제 -->
  <delete id="delete">
    DELETE FROM file
    WHERE no = #{no}
  </delete>
  
  <delete id="deleteById">
    DELETE FROM file
    WHERE id = #{id}
  </delete>

  <!-- 부모 기준 목록 -->
  <select id="listByParent" resultType="Files">
      SELECT *
      FROM file
      WHERE parent_table = #{parentTable}
          AND parent_no = #{parentNo}
      ORDER BY sort_order ASC, created_at DESC
  </select>

  <!-- 부모 기준 파일 목록 삭제 -->
  <delete id="deleteByParent">
    DELETE FROM file
    WHERE parent_table = #{parentTable}
          AND parent_no = #{parentNo}
  </delete>

  <!-- 첨부파일 등록 시 숫자랑 대표 중복으로 인해 추가 
      : resultType 은 sort_order 이므로 int-->
  <select id="nextSortOrderByParent" resultType="int">
    SELECT IFNULL( MAX(sort_order) + 1, 0 ) AS sort_order
    <!-- MAX(sort_order)
        : 해당 부모(parent_table + parent_no) 를 가진 파일들 중 가장 큰 sort_order 가져옴
         MAX(sort_order) + 1
        : 다음 파일이 들어갈 다음 순서 번호 만듦
         IFNULL(..., 0)
        : 만약 부모에 연결된 파일이 하나도 없다면 MAX(sort_order) null 이므로 그때는 0 반환!-->
    FROM file
    WHERE parent_table = #{parentTable}
    <!-- 어떤 부모 테이블(BOARD 등) 속한 파일들인지 찾기 -->
        AND parent_no = #{parentNo}
    <!-- 어떤 게시글 번호 파일인지 구분 -->
  </select>
  <!-- SQL 요약
    : 지금 부모 객체(게시글)에 파일 추가하려고 하는데,
      그 파일의 다음 순서번호(sort_order) 계산해줘! -->
      
  <!-- 썸네일 아무것도 없을 때,,, 추가  ( 메인 파일 조회 )-->
  <select id="selectByParent" resultType="Files">
    SELECT *
    FROM file
    WHERE parent_table = #{parentTable}
        AND parent_no = #{parentNo}
        AND is_main = 1
    LIMIT 1
  </select>
</mapper>