<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
</head>
<body>
    <!-- Controller : model.addAttribute("board", board);
            -> view 에서 ${board.필드명} 으로 접근 가능 -->
    <h1>게시글 조회</h1>
    <form action="/board/delete" method="post">
        <input type="hidden" name="no" th:value="${board.no}">
        <!-- 게시글 고유번호 no 를 서버에 보내는 역할
            th:value=${board.no}
            : Thymeleaf 가 컨트롤러에서 넘긴 board 객체의 no 값 넣어줌 -->
        <table>
            <tr>
                <td>제목</td>
                <td>
                    <input type="text" name="title" th:value="${board.title}">
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" name="writer" th:value="${board.writer}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="content" id="content" cols="40" rows="5"
                              th:text="${board.content}"></textarea>
                </td>
            </tr>
        </table>
        <div>
            <button type="button" onclick="moveUpdate()">수정</button>
            <button type="button" onclick="moveList()">목록</button>
            <!-- form 의 submit 과 관련없음
                : button type 으로, form submit(삭제)와 무관 -->
        </div>
    </form>
    <script>
        // 👩‍💻 모델 객체를 자바스크립트로 가져오는 방법
        let no = "[[${board.no}]]"
        // 중요 포인트! 
        // : Thymeleaf 에서 자바스크립트 변수에 데이터 넣을 때는 반드시 [[...]] 사용!
        // -> JS 에서만 사용되는 Thymeleaf 문법
        
        // 수정 화면 이동
        function moveUpdate() {
            location.href = '/board/update?no=' + no
        }
        // 목록 화면 이동
        function moveList() {
            location.href = '/board/list'
        }
    </script>
</body>
</html>