<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @주의 MyBatis 문법 쓰기 위한 필수 선언으로, 위에 공백 있으면 XML 깨져서 오류 발생! -->

<!-- 전체 파일 설명
    : SQL(쿼리) 랑 자바 메서드 연결해주는 파일
    -> 자바에서 DB 접속하지 않고, 여기에 적힌 SQL 대신 실행함 -->

<!-- sql 과 Mapper 연결하기 위해 필요한 xml -->
<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.aloha.mybatis.mapper.BoardMapper">
<!-- 해당 XML 파일이 어떤 자바 인터페이스와 연결되는지 알려주는 곳 -->

    <!-- 게시글 목록 -->
    <!-- <select id="list" resultType="com.aloha.mybatis.dto.Board"> -->
    <!-- application.properties 에 등록되어 있으므로, dto 경로 생략 가능 -->

    <!-- id 지정 -> 일치하는 메서드 만들어야 연결 가능 -->
    <select id="list" resultType="Board">
        SELECT *
        FROM Board
        ORDER BY created_at DESC
    </select>
    <!-- 게시글 목록 조회 list
        : list() 라는 자바 메서드와 연결
        -> 실행 시, 전체 게시글 목록을 최신순으로 가져와서
        결과를 Board 객체 리스트로 만들어줌 -->

    <!-- 게시글 조회 -->
    <select id="select" resultType="Board">
        SELECT *
        FROM Board
        WHERE no = #{no}
    </select>
    <!-- 게시글 한 개 조회 select
        : select(no) 메서드와 연결
        -> #{no} 는 자바에서 넘겨준 값이 여기로 들어감
        -> 해당 번호에 맞는 게시글 1개 조회 -->

    <!-- 게시글 등록 -->
    <insert id="insert">
        INSERT INTO board ( id, title, writer, content )
        VALUES ( #{id}, #{title}, #{writer}, #{content}  )
    </insert>
    <!-- 게시글 등록 insert
        : insert(Boad board) 메서드와 연결
        -> board 객체에서 값 꺼내서 INSERT 실행
        -> 생성자에서 UUID로 만든 id도 여기 사용됨 -->

    <!-- 게시글 수정 -->
    <update id="update">
        UPDATE board
            SET title = #{title}
                ,writer = #{writer}
                ,content = #{content}
        WHERE no = #{no}
    </update>
    <!-- 게시글 수정 update
        : update(Board board) 메서드와 연결
        -> 해당 no 게시글의 title, writer, content 변경
        #{변수명} -> Board 객체에서 가져오는 값 -->

    <!-- 게시글 삭제 -->
    <delete id="delete">
        DELETE FROM board
        WHERE no = #{no}
    </delete>
    <!-- 게시글 삭제 delete
        : delete(no) 메서드와 연결
        -> 해당 번호의 게시글 삭제 -->
</mapper>
<!-- 참고!
    등록/수정/삭제 : 결과로 "데이터" 가져오지 않으므로 resultType X!
    -> SELECT 는 "DB에서 값 가져오는" SQL로,
        MyBatis가 어떤 형태로 받아올까? 를 알아야해서 resultType 필요
    -> INSERT/UPDATE/DELETE 는 값을 가져오지 않고 DB에 요청만 하고 끝이므로
        (데이터 넣고, 고치고, 지우고) 결과로 가져오는 값 없음!

        ## 딱 하나 반환하는 것
        몇 개의 행이 영향을 받았는지 MyBatis 가 자동으로 정수(int)로 돌려줌!
        ex) delete(no) 실행 시 삭제된 행수(0또는1) int로 반환
            DB에서 row 데이터 가져오는 것이 아니므로 resultType 필요 없음! -->